*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
  }


/*#######################################################################################################
######################################## HEADER SLIDES ################################################*/

.sliders, .sliders img{
    background-size: cover;
    height: 100vh;
    text-align: center;
    
}

.pinkbg{
    background-color: #f09ead;
}

.btnPink, .btn:hover,.btn:focus,.btn:active, 
.btn:active:focus:not(:disabled):not(.disabled),
.btn:focus, .btn:active, .btn:hover{
background-color: #f09ead !important;
box-shadow: none!important;
outline: 0;
border-color: none;
}

.btn-primary:hover,.btn-primary:focus,.btn-primary:active, 
.btn-primary:active:focus:not(:disabled):not(.disabled),
.btn:focus, .btn:active, .btn:hover{
    box-shadow: none!important;
    outline: 0;
}


.txtWithBgColor a, .txtWithBgColor a:hover{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

/*#######################################################################################################
######################################## HEADER SLIDES ################################################*/

/*#######################################################################################################
########################################## NAV BAR ####################################################*/

 .sticky{
    position: sticky;
    top: 0;
    z-index: 500;
}
div.home{
    z-index: -1;
}
/*#######################################################################################################
########################################## NAV BAR ####################################################*/

/*#######################################################################################################
########################################## APOIADORES #################################################*/

.card{
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.card img {
    filter: none;
    -webkit-filter: grayscale(0);
}

.card img:hover {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}

.lightbg{
    background-color: #f8cdd1;
}
f8cdd1
/*#######################################################################################################
########################################## APOIADORES #################################################*/


/*#######################################################################################################
########################################## SCROLL BAR #################################################*/

::-webkit-scrollbar {
    width: 12px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #f09ead; 
}

/*#######################################################################################################
########################################## SCROLL BAR #################################################*/